<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Subway Turnstyle Analysis</title>
  <link rel="stylesheet" href="/css/style-index.css">
  <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>

<div class="modal1">
		<img class="sun" src="sunny.png" width="100">
		<h1 class="welcome">Welcome</h1>
		<button class="wel-button">Enter</button>
	</div>

	<div class="modal2">
		<div class="search">
		<form id="searchform" method="post">
				<select name="day">
					<option value="sunday">sunday</option>
					<option value="monday">monday</option>
					<option value="tuesday">tuesday</option>
					<option value="wednesday">wednesday</option>
					<option value="thursday">thursday</option>
					<option value="friday">friday</option>
					<option value="saturday">saturday</option>
				</select>

				<select name="holiday">
					<option value="yes">yes</option>
					<option value="no">no</option>
					<option value="maybe">maybe</option>
				</select>

				<select name="something else">
					<option value="hmmm">hmmm</option>
					<option value="ehhh">ehhh</option>
					<option value="errrrrr">errrrrr</option>
					<option value="uuuhhhhhhh">uuuhhhhhh</option>
				</select>
			<button type="submit" value="submit" form="searchform">Search</button>
		</form>
		</div>
	</div>

	<div class="main">
	</div>



</body>
</html>
