<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Results</title>
  <link rel="stylesheet" href="/css/results.css">
  <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
  <header>
    <h1>NYC Subway Traffic</h1>
  </header>

  <div class="results-container">
    <div class="results-word">
      <h2>Traffic is predicted to be HEAVY</h2>
    </div>

    <div class="results-images">
      <div class="subway-car">
        <img src="/images/subway-car.jpg" alt="subway car">
      </div>

      <div class="rider-container">
        <div class="riders">
          <img src="/images/light-rider.png" alt="riders">
        </div>
      </div>
    </div>

  </div>
</body>
</html>
