body {
  background-color:#59d1f3;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #59d1f3;
/*  font-family: 'Teko', sans-serif;
  font-family: 'Abel', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  animation: load 2s ease-in;
}
@keyframes load{
  0% { opacity: 0; }
  100% { opacity: 100%; }
}


.ui-datepicker a {
  text-decoration: none;
  font-size: 18px;

}
.ui-datepicker-header {
  background-color: ;
  color: black;
  font-weight: bold;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
  box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
  text-shadow: 1px -1px 0px #000;
  filter: dropshadow(color=#000, offx=1, offy=-1);
  line-height: 70px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: white;
}


.ui-datepicker-title {
  text-align: center;
  font-size: 30px;
}

.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  width: 60px;
  height: 80px;
  text-align: center;
  cursor: pointer;
  background-repeat: no-repeat;
  line-height: 600%;
  overflow: hidden;
}

.ui-datepicker-prev {
  float: left;
  background-position: center -30px;
}
.ui-datepicker-next {
  float: right;
  background-position: center 0px;
}
.ui-datepicker thead {
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));
  background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
  border-bottom: 1px solid #bbb;
}

ui-datepicker th {
  text-transform: uppercase;
  font-size: 6pt;
  padding: 5px 0;
  color: #666666;
  text-shadow: 1px 0px 0px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=0);
}

.ui-datepicker tbody td {
  padding: 0;
  border-right: 1px solid #bbb;
}

.ui-datepicker tbody tr {
  border-bottom: 1px solid #bbb;
}
.ui-datepicker tbody tr:last-child {
  border-bottom: 0px;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 50px;
  height:50px;
  line-height: 30px;
  color: #666666;
  text-shadow: 1px 1px 0px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=1);
}
.ui-datepicker-calendar .ui-state-default {
  background: #ededed;
  background: -moz-linear-gradient(top,  #ededed 0%, #dedede 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dedede));
  background: -webkit-linear-gradient(top,  #ededed 0%,#dedede 100%);
  background: -o-linear-gradient(top,  #ededed 0%,#dedede 100%);
  background: -ms-linear-gradient(top,  #ededed 0%,#dedede 100%);
  background: linear-gradient(top,  #ededed 0%,#dedede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
  -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
  -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
  box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}
.ui-datepicker-unselectable .ui-state-default {
  background: #f4f4f4;
  color: #b4b3b3;
}

.ui-datepicker-calendar .ui-state-hover {
  background: #f7f7f7;
}
.ui-datepicker-calendar .ui-state-active {
  background: #6eafbf;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  color: #e0e0e0;
  text-shadow: 0px 1px 0px #4d7a85;
  filter: dropshadow(color=#4d7a85, offx=0, offy=1);
  border: 1px solid #55838f;
  position: relative;
  margin: -1px;
}

.ui-datepicker-calendar td:first-child .ui-state-active {
  width: 29px;
  margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
  width: 29px;
  margin-right: 0;
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
  height: 29px;
  margin-bottom: 0;
}






.container {
	display: block;
	width: 100vw;
	height: 100vh;
}

.box {
	margin: 0 auto;
	margin-top: 100px;
	height: 600px;
	width: 600px;
	text-align: center;
	animation: moveup 1.5s ease-in;
}
@keyframes moveup{
  0% {
  	margin-top: 600px;
  	opacity: 0;
  	border: 1px solid white;
		border-radius: 5px;
  }
  100% {
  	margin-top: 100px;
  	opacity: 100%;
  	border: none;
		border-radius: none;
  }
}




h1 {
	display: block;
	font-family: 'Teko', sans-serif;
	font-size: 200px;
	letter-spacing: 2px;
	text-align: center;

}

.cal-cont{
	text-align: center;
}

.caldiv {
/*	text-align: center;*/
display: inline-block;

}

.input {
	border: 1px solid white;
	border-radius: 3px;
	padding: 10px;
	width: 200px;
}

.submit {
	  display: inline-block;
	  margin: 0 auto;
	  width: 120px;
	  height: 40px;
	  border: 1px solid white;
	  border-radius: 5px;
	  font-family: 'Open Sans', sans-serif;
	  letter-spacing: 5px;
	  font-size: 15px;
	  font-weight: bold;
		margin-left: 30px;
	  background-color: #59d1f3;
}
.submit:hover {
  background-color: #26c6f2;
 }
