.results-images {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.subway-car {
  width: 40%;
  height: 50%;
}

.subway-car img {
  width: 450px;
  height: 100%;
}

.rider-container {
  width: 60%;
  height: 50%;
  display: flex;
  align-items: center;
}

.riders {
  width: 150px;
  height: 150px;
  margin-left: -5%;
  z-index: 1;
  animation-duration: 4s;
  animation-name: slidein;
}

.riders img {
  width: 150px;
  height: 150px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: -5%;
  }
}

